@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/*----------------------------------- General - Navbar*/
.navbar {
    background-color: black;
}

.navbar-brand {
    color: #fb8600;
    margin-left: 10px;
    padding: 5px 10px;
}

.navbar-brand:hover {
    color: #fb8600cc;
}

.nav-link {
    color: #faedcd;
}

.nav-link:hover {
    color: #faedcdce;
}

.navbar-icon {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding: 5px 10px;
}

/*----------------------------------- Index - Navbar*/
.index-navbar {
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute;
    width: 100%;
    z-index: 1;
}

.login-btn {
    text-decoration: none;
    color: rgb(40, 167, 69);
    border: 1px solid rgb(40, 167, 69);
    border-radius: 30px;
}

.login-btn:hover {
    text-decoration: none;
    color: rgba(40, 167, 70, 0.808);
    border-color: rgba(40, 167, 70, 0.808);
}


@media (max-width: 768px) {
    #index-nav {
        background-color: rgba(0, 0, 0, 0.825);
    }
}


/*----------------------------------- Index - Banner*/

.banner-container {
    height: 80vh;
    width: 100%;
    background-image: url('/static/images/greyspoons.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text {
    width: 80%;
    top: 35%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
}

.banner-text h1 {
    font-size: 3rem;
    padding-bottom: 10px;
    color: #f79d65;
}

.banner-text p {
    color: #faedcd;
    padding: 0 20px;

}

.banner-btns {
    text-align: center;
    position: relative;
    top: 40%;
}

.banner-btns a {
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 30px;
}

@media (max-width: 625px) {
    .banner-text {
        width: 100%;
        font-size: 0.8em;
    }
    .banner-text h1 {
        font-size: 2rem;
    }
}

/*----------------------------------- Index - Article */
article {
    background-color: #ced4da;
    padding: 10px;
}

.winner-recipe {
    padding: 50px 10px;
    border: 1px solid black;
    border-radius: 20px;
}

/*----------------------------------- Index - Footer */

footer p {
    background-color: #ced4da;
    padding: 10px;
    margin-bottom: 0px;
}

/*----------------------------------- Register - Card*/


/*----------------------------------- Login - Card*/
.sign-card {
    width: 50%;
    margin: 100px auto;
}

.sign-card-body {
    width: 50%;
    margin: 2em auto;
}

.login-register {
    text-align: center;
}

.login-register a {
    margin: 10px 0 20px 0;
}


/*----------------------------------- AllRecipes Page */


.card-recipe .card-body {
    padding-left: 5px;
    padding-right: 5px;
}

.card-recipe img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

/*----------------------------------- Create Recipe */

.create-card{
    background-color: antiquewhite;
    width: 80%;
    margin: 10px auto;
    padding: 30px;
}

@media (max-width: 625px) {
    .create-card {        
        width: 100%;
        margin: 0;
    }
}

.cancel-submit {
    margin-top: 30px;
}

/*----------------------------------- View Recipe */

.view-card {
    width: 100%;
    margin: 20px 0;
    background-color: #dbe5e6;
}

.view-info {
    background-color: rgba(95, 158, 160, 0.637);
    border-radius: 5px;
    width: 60%;
    margin: 20px auto;
    padding-top: 15px;
}

.view-body {
    margin: 0 auto;
}

.view-banner {
    padding: 20px;

}

.edit-delete {
    margin: 10px;
}

.ing-dir {
    width: 90%;
    padding: 20px;
    margin: auto;
}

@media (max-width: 768px) {
    .ing-dir{
        width: 100%;
        padding: 0;
    }
    .view-info {
        width: 100%;
    }
}

/*----------------------------------- Edit Recipe */
.fa-info-circle {
    cursor: pointer;
}

/*----------------------------------- Select Winner */

.select-winner {
    width: 100%;
}


