{% extends "base.html" %}

{% block title%}
    RecipeClub | All Recipes
{% endblock %}

{% block content %}
    <section id="allrecipes-section" class="page">
        <div class="container recipes-container">
            <div class="allrecipes_header text-center">
                <h1 class="recipes-heading"> All Recipes </h1>
            </div>
            <div class="row">
                {% for recipe in recipes %}
                    {% if recipe.is_private == False  %}
                        <div class="col-6 col-md-3 mt-3">
                            <div class="card card-recipe">
                                {% if recipe.recipe_image != "" %}
                                    <img class="card-img-top" src=" {{ url_for('img_file', filename=recipe.recipe_image) }}" alt="Recipe image">
                                {% else %}
                                    <img class="card-img-top" src=" {{ url_for('static', filename='images/empty-plate.jpg') }}" alt="Recipe image">
                                {% endif %}
                                <div class="card-body text-center">
                                    <h5 class="card-title"> {{ recipe.recipe_name.capitalize() }} </h5>
                                    <p><em class="card-text">By: {{ recipe.author }} </em></p>
                                    <a href=" {{ url_for('viewrecipe', recipe_id=recipe._id) }} ">Go to recipe</a>
                                </div>
                            </div>
                        </div>
                    {% endif %} 
                {% endfor %}
                

            </div>
        </div>
    </section>

    

{% endblock %}