{% extends "base.html" %}

{% block content%}
    <div class="card create-card">
        <h1 class="text-center">Edit Recipe</h1>
        <div class="card-body create-recipe-card-body">
            <form action=" {{url_for('edit_recipe', recipe_id=recipe._id)}} " method="POST" enctype="multipart/form-data">
                <!-- Recipe Name-->
                <div class="form-group">
                    <label for="recipe_name">Recipe Name</label>
                    <input type="text" value="{{ recipe.recipe_name }}" class="form-control" id="recipe_name" name="recipe_name" placeholder="Recipe Name" required>
                </div>
                <!-- Prep Time -->
                <div class="form-row align-items-end">
                    <div class="form-group col-6">
                        <label for="prep_time">Prep Time</label>
                        <input type="number" value={{ recipe.prep_time }} class="form-control" id="prep_time" name="prep_time" min="1" max="1000" placeholder="Enter prep time" required>
                    </div>
                    <div class="form-group col-6">
                        <div class="form-check form-check-inline">
                            {% if recipe.prep_time.split(' ')[1] == "minutes" %}
                                <input class="form-check-input" type="radio" id="min" name="prep_unit" value="minutes" checked>
                            {% else %}
                                <input class="form-check-input" type="radio" id="min" name="prep_unit" value="minutes">
                            {% endif %}
                            <label class="form-check-label" for="min">Minutes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if recipe.prep_time.split(' ')[1] == "hours" %}
                                <input class="form-check-input" type="radio" id="hrs" name="prep_unit" value="hours" checked>
                            {% else %}
                                <input class="form-check-input" type="radio" id="hrs" name="prep_unit" value="hours">
                            {% endif %}
                            <label class="form-check-label" for="hrs">Hours</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if recipe.prep_time.split(' ')[1] == "days" %}
                                <input class="form-check-input" type="radio" id="days" name="prep_unit" value="days" checked>
                            {% else %}
                                <input class="form-check-input" type="radio" id="days" name="prep_unit" value="days">
                            {% endif %}
                            <label class="form-check-label" for="days">Day(s)</label>
                        </div>
                    </div>
                </div>
                <!-- Cook Time -->
                <div class="form-row align-items-end">
                    <div class="form-group col-6">
                        <label for="cook_time">Cook Time</label>
                        <input type="number" class="form-control" value={{ recipe.cook_time }} id="cook_time" name="cook_time" min="1" max="1000" placeholder="Enter cook time" required>
                    </div>
                    <div class="form-group col-6">
                        <div class="form-check form-check-inline">
                            {% if recipe.cook_time.split(' ')[1] == "minutes" %}
                                <input class="form-check-input" type="radio" id="min" name="cook_unit" value="minutes" checked>
                            {% else %}
                                <input class="form-check-input" type="radio" id="min" name="cook_unit" value="minutes">
                            {% endif %}
                            <label class="form-check-label" for="min">Minutes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if recipe.cook_time.split(' ')[1] == "hours" %}
                                <input class="form-check-input" type="radio" id="hrs" name="cook_unit" value="hours" checked>
                            {% else %}
                                <input class="form-check-input" type="radio" id="hrs" name="cook_unit" value="hours">
                            {% endif %}
                            <label class="form-check-label" for="hrs">Hours</label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if recipe.cook_time.split(' ')[1] == "days" %}
                                <input class="form-check-input" type="radio" id="days" name="cook_unit" value="days" checked>
                            {% else %}
                                <input class="form-check-input" type="radio" id="days" name="cook_unit" value="days">
                            {% endif %}
                            <label class="form-check-label" for="days">Day(s)</label>
                        </div>
                    </div>
                </div>
                <!-- Serves -->
                <div class="form-group">
                    <label for="recipe_name">Serves</label>
                    <input type="number" value= {{ recipe.serves }} min="1" max="1000" class="form-control" id="serves" name="serves" placeholder="Serves" required>
                </div>

                <!-- Ingredients -->
                <div class="form-group">    
                    <label for="ingredients">Add each ingredient on a new line </label>
                    <textarea class="form-control" id="ingredients" name="ingredients" rows="6" placeholder="First ingredient"> {{ '\n'.join(recipe.ingredients) }}  
                    </textarea>
                </div>

                <!-- Instructions -->
                <div class="form-group">    
                    <label for="instructions">Add each instruction on a new line</label>
                    <textarea class="form-control" id="instructions" name="instructions" rows="6" placeholder="Add milk to egg. Mix">{{ '\n'.join(recipe.instructions) }}</textarea>
                </div>

                <!-- Image -->
                <div class="form-group">
                    <label for="recipe_image">Upload image: </label>
                    <input id="recipe_image" type="file" name="recipe_image">
                </div>

                <!-- Private -->
                <div class="form-check">
                    {% if recipe.is_private %}
                        <input type="checkbox" class="form-check-input" id="is_private" name="is_private" checked>
                    {% else %}
                        <input type="checkbox" class="form-check-input" id="is_private" name="is_private">
                    {% endif %}
                    <label class="form-check-label" for="is_private"> Private </label>
                    <i class="fas fa-info-circle" data-toggle="popover" data-content="Select if you want this recipe to be private"></i>
                </div>

                <!-- Edit/Cancel -->
                <div class="cancel-submit text-center">
                    <a href=" {{url_for('allrecipes')}} " class="cancel-btn">Cancel</a>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}