<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <title> RecipeClub </title>
</head>
<body class="index-customize">
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href=" {{url_for('index')}} ">RecipeClub</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-user"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    {% if session['user']%}
                        {% if session['user'] == "admin@recipeclub.com" %}
                        <li class="nav-item mr-4">
                            <a class="nav-link pl-4 pr-4" href=" {{url_for('winner')}} ">Winner</a>
                        </li>
                        {% endif %}
                        <li class="nav-item mr-4">
                            <a class="nav-link pl-4 pr-4" href=" {{url_for('allrecipes', name=session['user'])}} ">All Recipes</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link pl-4 pr-4" href=" {{url_for('myrecipes')}} ">My Recipes</a>
                        </li>
                        <li class="nav-item mr-4">
                            <a class="nav-link pl-4 pr-4" href=" {{url_for('create_recipe')}} ">Create Recipe</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li class="nav-item mr-4">
                            <a class="nav-link pl-4 pr-4" href=" {{url_for('logout')}} ">Logout</a>
                        </li>
                    {% else %}
                    <li class="nav-item mr-4">
                        <a class="nav-link login-btn pl-4 pr-4" href="{{ url_for('login') }}">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>


    <div class="banner-container">
        <div class="banner">
            <h1>Become A Member of RecipeClub</h1>
            <p>Register to get access to numerous recipes and get a chance to win <strong><em>Recipe Of the Month!</em></strong></p>
        </div> 
        {% if session['user'] == False %}  
            <div class="banner-btns">
                <a class="btn btn-danger btn-lg register-btn" href="{{ url_for('register')}}" role="button">Register</a>
            </div> 
        {% endif %}
    </div>

    <article class="container">
        {% for r in recipe %}
        <div class="winner-recipe">
            <div class="header-banner text-center">
                <h1> Recipe of the Month </h1>
            <h3> {{ r.recipe_name }} </h3>
            <em>By: {{ r.author }} </em>

            <div class="row view-info text-center">
                <div class="col-md-4 align-items-center">
                    <p> <strong>Prep time: </strong> {{ r.prep_time }}</p>
                </div>
                <div class="col-md-4">
                    <p> <strong>Cook time: </strong> {{ r.cook_time }}</p>
                </div>
                <div class="col-md-4">
                    <p> <strong>Serves: </strong> {{ r.serves }}</p>
                </div>
            </div>
            </div>

            <div class="ingredients ing-dir">
                <h3>Ingredients</h3>
                <ul>
                    {% for ingredient in r.ingredients %}
                        <li> {{ ingredient }} </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="directions ing-dir">
                <h3>Directions</h3>
                <ol>
                    {% for instruction in r.instructions %}
                        <li> {{ instruction }} </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% endfor %}
    </article>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>