{% extends "base.html" %}

{% block content %}
    <section class="page">
        <div class="container recipes-container">
            <div class="allrecipes_header text-center">
                <h1 class="recipes-heading"> My Recipes </h1>
            </div>
            <div class="row">
                {% for recipe in recipes %}
                    {% if recipe.author == session["user"] %}
                        <div class="col-6 col-md-3 mt-3">
                            <div class="card card-recipe">
                                {% if recipe.recipe_image != "" %}
                                    <img class="card-img-top" src=" {{ url_for('img_file', filename=recipe.recipe_image) }}" alt="Recipe image">
                                {% else %}
                                    <img class="card-img-top" src=" {{ url_for('static', filename='images/no-image-icon-23485.png') }}" alt="Recipe image">
                                {% endif %}
                                <div class="card-body text-center">
                                    <h5 class="card-title"> {{ recipe.recipe_name.capitalize() }} </h5>
                                    <a href=" {{ url_for('viewrecipe', recipe_id=recipe._id) }} " class="text-right">Go to recipe</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    

{% endblock %}